<div class="page-title">
    <h4>История заказов</h4>
    <button 
        [ngClass]= "{
            'active': isFilterVisible,
            'red': isFiltered()
        }"
        class="btn btn-small" 
        (click)="isFilterVisible= !isFilterVisible" 
        data-tooltip="Открыть фильтр"
        data-position="left"
        #tooltip
        >

        <i class="material-icons">filter_list</i>
    </button>
</div>

<app-history-filter *ngIf="isFilterVisible" (onFilter)="applyFilter($event)" ></app-history-filter>

<div *ngIf="!reLodaing; else reLoadingBlock" >
    <div *ngIf="orders.length !== 0;else empty" >
        <app-history-list [orders]="orders" ></app-history-list>

        <div class="center mb2" *ngIf="!noMoreOrders" >
            <button 
            *ngIf="!loading; else loader"
            class="btn waves-effect grey darken-1 btn-small"
            (click)="loadMore()"    
            >Загрузить еще</button>

            <ng-template #loader >
                <app-loader></app-loader>
            </ng-template>
        </div>
    </div>
    <ng-template #empty>
        <div class="center">There are no orders yet</div>
    </ng-template>
</div>

<ng-template #reLoadingBlock >
    <app-loader></app-loader>
</ng-template>


